body {
  font-family: 'Belleza', sans-serif;
}

h1 {
  color: white;
  font-weight: 400;
}

h3 {
  color: white;
  font-weight: 200;
  background-color: darkblue;
}

#navigation {
  position: centerpoint;
}

.buttons {
font-family: 'Belleza', sans-serif;
color: white; 
float: left;
text-decoration: none;
outline-style: solid;
outline-offset: 5px;
outline-color: white;
padding: 2px;
margin-right: 30px;
}
